@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .rooms-section {
    padding: 50px 20px;
  }

  .rooms-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .rooms-content {
    flex: 100%;
    max-width: 100%;
    padding-right: 0;
  }

  .slide-card, .swiper-slide-active .slide-card {
    height: 400px;
  }
}
